<div class="contact-form">
  <div id="form">
    <h2>Booking Appointment</h2>
    <div class="container">
      <form>
        <div class="input-group">
          <input type="text" id="full Name" required />
          <label for="full Name"
            ><i class="fa-solid fa-user"></i> Full Name</label
          >
        </div>
        <div class="input-group">
          <input type="tel" id="phone no." required />
          <label for="phone no."
            ><i class="fa-solid fa-phone"></i> Phone No.</label
          >
        </div>
        <div class="input-group">
          <input type="email" id="email" required />
          <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
        </div>
        <div class="text-center">
          <button  type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
